@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
$font: "Victor Mono", serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin font($font-size){
    font-family: $font;
    color: rgb(252, 247, 248);
    font-size: $font-size;
    font-weight: 700;
}

body{
    background-color: rgb(31, 39, 27);
}

.container{
    max-width: 1024px;
    margin: 0 auto;

    @media screen and (max-width: 1082px) {
        max-width: 95%;
    }
}

.back{
    display: flex;
    align-items: center;

    img{
        margin-right: 20px;
    }
}

main{
    margin-top: 30px;

    h1{
        @include font(60px);

        @media screen and (max-width: 768px) {
            font-size: 30px;
        }
    }
}

.card-holder{
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: space-between;
    row-gap: 40px;
    margin-top: 30px;

    @media screen and (max-width: 1110px) {
        grid-template-columns: repeat(3, 30%);
    }

    @media screen and (max-width: 526px) {
        grid-template-columns: repeat(2, 48%);
        row-gap: 20px;
    }
}

.poster{
    transition: 0.2s;
    transform-origin: center;

    img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    img:hover{
        border: 5px rgb(125, 83, 222) solid;
    }
}

.poster:hover{
    transform: scale(1.1); 
}

.empty{
    margin: 30px;
    display: flex;
    justify-content: center;

    p{
        @include font(30px);
    }
}

.none{
    display: none;
}
