@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
$font: "Victor Mono", serif;

@mixin font($font-size){
    font-family: $font;
    color: rgb(252, 247, 248);
    font-size: $font-size;
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(31, 39, 27);
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
    background: rgb(125, 83, 222);//linear-gradient(to bottom, rgba(210, 11, 228, 0.685), rgb(31, 31, 31));
}
.container{
    max-width: 1024px;
    margin: 0 auto;

    @media screen and (max-width: 1082px) {
        max-width: 95%;
    }
}

.row-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 0;

    a{
        @include font(30px);
        text-decoration: none;

        .heart-favourite{
            display: none;

            @media screen and (max-width: 425px){
                display: block;
            }
        }

        p{
            @media screen and (max-width: 425px){
                display: none;
            }
        }


    }

    .logo{
        display: flex;
        column-gap: 15px;
        align-items: center;
        
        img{
            width: 70px;
            height: 70px;
        }
    }

    .favourit{
        transition: 0.2s;
    }
    .favourit:hover{
        color: rgb(40, 13, 102);
        transform: scale(1.05);
    }
}


.enter-section{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/peopleFilm.png') center 25%/cover no-repeat;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), 80%,  rgba(0,0,0,0));
    height: 400px;
    @media screen and (max-width: 746px) {
        height: 300px;
    }

    .enter-text{
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .main-text{
        font-size: clamp(35px, 3vw, 60px);
        padding-bottom: 15px;
        margin: 0 10px;
    }

    .small-text{
        width: 80%;
    }

    p{
        @include font(clamp(15px, 1.5vw, 25px));
        text-align: center;
    }
}

.list-section{
    margin-top: 40px;
}

.card-holder{
    display: grid;
    grid-template-columns: repeat(3, 31%);
    justify-content: space-between;
    row-gap: 40px;

    @media screen and (max-width: 1082px) {
        grid-template-columns: repeat(3, 30%);
    }

    @media screen and (max-width: 526px) {
        grid-template-columns: repeat(2, 48%);
        row-gap: 20px;
    }
}

.poster{
    transition: 0.2s;
    transform-origin: center;

    img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    img:hover{
        border: 5px rgb(125, 83, 222) solid;
        //box-shadow: 0 0 20px 10px rgba(125, 83, 222, 0.562);
    }
}

.poster:hover{
    transform: scale(1.1); 
}

.modal-window{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-closed{
    visibility: hidden;
}

.modal-content{
    display: flex;
    background-color: rgb(31, 39, 27);
    border-radius: 10px;
    width: 60%;
    height: 65%;
    padding: 30px;
    justify-content: space-between;
    border: 5px rgb(125, 83, 222) solid;
    overflow-y: auto;

    @media screen and (max-width: 1587px) {
        width: 80%;
    }

    @media screen and (max-width: 1335px) {
        width: 90%;
        height: 70%;
    }

    @media screen and (max-width: 1024px){
        width: 95%;
    }

    @media screen and (max-width: 626px){
        flex-direction: column;
        height: 95%;
        width: 80%;
        align-items: center;
    }

    @media screen and (max-width: 425px){
        flex-direction: column;
        height: 95%;
        align-items: center;
    }

    .left-part{
        //transition: 0.2s;

        @media screen and (max-width: 1024px){
            margin-right: 20px;
        }

        @media screen and (max-width: 626px){
            margin-right: 0;
            margin-bottom: 10px;
        }

        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;

            @media screen and (max-width: 1024px){
                width: 300px;
                height: 450px;
            }

            @media screen and (max-width: 626px){
                width: 100%;
                height: 100%;
            }
        }
    }


    .right-part{
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (max-width: 1159px) {
            width: 45%;
        }

        @media screen and (max-width: 1024px){
            width: 70%;
        }

        @media screen and (max-width: 626px){
            width: 100%;
        }

        h1{
            @include font(clamp(20px, 3vw, 45px));

        }

        p{
            @include font(clamp(15px, 3vw, 25px));
            text-align: right;
            color: rgb(184, 180, 181);

            // @media screen and (max-width: 900px){
            //     font-size: 20px;
            // }
        }

        .info-holder{
            display: grid;
            grid-template-columns: 42% 58%;
            grid-template-rows: auto;
            column-gap: 10px;

            @media screen and (max-width: 1024px) {
                display: flex;
                flex-direction: column;

                p{
                    text-align: start;
                }
            }

            .lable{
                text-align: start;

                @media screen and (max-width: 1024px){
                    margin-top: 15px;
                }
            }
        }

        .button-holder{
            display: flex;
            justify-content: center;

            button{
                width: fit-content;
                height: 60px;
                padding: 10px;
                border: 3px rgb(125, 83, 222) solid;
                border-radius: 10px;
                background-color: rgb(125, 83, 222);
                @include font(25px);
                transition: .2s;
                position: relative;

                @media screen and (max-width: 754px){
                    height: 75px;
                    font-size: 18px;
                }

                @media screen and (max-width: 626px){
                    font-size: 15px;
                    height: 65px;
                    margin-top: 10px;
                }
            }

            button.active{
                background-color: transparent;
            }

            button:hover{
                transform: scale(1.2);
            }

            button::after {
                content: "Добавлено в избранное!";
                position: absolute;
                top: -40px;
                left: 50%;
                transform: translateX(-50%);
                background: rgba(0, 0, 0, 0.8);
                color: white;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 14px;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.3s, transform 0.3s;
            }

            button.show-message::after {
                opacity: 1;
                transform: translateX(-50%) translateY(-5px);
            }
            
            // button:active {
            //     transform: scale(1.2);
            //     opacity: 1;
            // }
        }
    }
}
