@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(31, 39, 27);
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: rgb(125, 83, 222);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.row-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 0;
}
.row-menu a {
  font-family: "Victor Mono", serif;
  color: rgb(252, 247, 248);
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}
.row-menu .logo {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: center;
}
.row-menu .logo img {
  width: 70px;
  height: 70px;
}
.row-menu .favourit {
  transition: 0.2s;
}
.row-menu .favourit:hover {
  color: rgb(40, 13, 102);
  transform: scale(1.05);
}

.enter-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/peopleFilm.png") center 25%/cover no-repeat;
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0), 80%, rgba(0, 0, 0, 0));
          mask-image: linear-gradient(to bottom, rgb(0, 0, 0), 80%, rgba(0, 0, 0, 0));
  height: 400px;
}
.enter-section .enter-text {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.enter-section .main-text {
  font-size: 60px;
  padding-bottom: 15px;
}
.enter-section .small-text {
  width: 80%;
}
.enter-section p {
  font-family: "Victor Mono", serif;
  color: rgb(252, 247, 248);
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.list-section {
  margin-top: 40px;
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(3, 28%);
  justify-content: space-between;
  row-gap: 40px;
}

.poster {
  transition: 0.2s;
  transform-origin: center;
}
.poster img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.poster img:hover {
  border: 5px rgb(125, 83, 222) solid;
}

.poster:hover {
  transform: scale(1.1);
}

.modal-window {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-closed {
  visibility: hidden;
}

.modal-content {
  display: flex;
  background-color: rgb(31, 39, 27);
  border-radius: 10px;
  width: 60%;
  height: 65%;
  padding: 30px;
  justify-content: space-between;
  border: 5px rgb(125, 83, 222) solid;
}
.modal-content .left-part {
  transition: 0.2s;
}
.modal-content .left-part img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.modal-content .right-part {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-content .right-part h1 {
  font-family: "Victor Mono", serif;
  color: rgb(252, 247, 248);
  font-size: 45px;
  font-weight: 700;
}
.modal-content .right-part p {
  font-family: "Victor Mono", serif;
  color: rgb(252, 247, 248);
  font-size: 25px;
  font-weight: 700;
  text-align: right;
  color: rgb(184, 180, 181);
}
.modal-content .right-part .info-holder {
  display: grid;
  grid-template-columns: 42% 58%;
  grid-template-rows: auto;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.modal-content .right-part .info-holder .lable {
  text-align: start;
}
.modal-content .right-part .button-holder {
  display: flex;
  justify-content: center;
}
.modal-content .right-part .button-holder button {
  width: -moz-fit-content;
  width: fit-content;
  height: 60px;
  padding: 10px;
  border: 3px rgb(125, 83, 222) solid;
  border-radius: 10px;
  background-color: rgb(125, 83, 222);
  font-family: "Victor Mono", serif;
  color: rgb(252, 247, 248);
  font-size: 25px;
  font-weight: 700;
  transition: 0.2s;
  position: relative;
}
.modal-content .right-part .button-holder button.active {
  background-color: transparent;
}
.modal-content .right-part .button-holder button:hover {
  transform: scale(1.2);
}
.modal-content .right-part .button-holder button::after {
  content: "Добавлено в избранное!";
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
}
.modal-content .right-part .button-holder button.show-message::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
}/*# sourceMappingURL=style.css.map */